@model IEnumerable<PrvaAplikacija.Models.Artikal>

@{
    ViewBag.Title = "Artikli u skladištu";
}

<br>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mjera.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mjera.Naziv)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.ArtikalID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ArtikalID }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.ArtikalID })
        </td>
    </tr>
}

</table>

<br>
<span class="button btn btn-info LinkoviBijeli"> @Html.ActionLink("Stvori novi", "Create") </span>
