<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <b> @Html.ActionLink("Home ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </b>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="Navigation">
                @if (Context.User.Identity.IsAuthenticated) { 
                    <li>@Html.ActionLink("Skladište", "Index", "Item")</li>
                    <li>@Html.ActionLink("Cjenik", "Index", "Product")</li>
                    <li>@Html.ActionLink("Narudžbe", "Index", "InvoiceLine")</li>
                    <li>@Html.ActionLink("Pregled računa", "Index", "Invoice")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
