<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <b> @Html.ActionLink("Home ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </b>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="Navigation">
                <li>@Html.ActionLink("Skladište", "Index", "Artikal")</li>
                <li>@Html.ActionLink("Cjenik", "Index", "Proizvod")</li>
                <li>@Html.ActionLink("Narudžbe", "Index", "Stavka")</li>
                <li>@Html.ActionLink("Pregled računa", "Index", "Racun")</li>
            </ul>
        </div>
    </div>
</div>
