@model IEnumerable<RetailApp.Models.InvoiceLine>

@{
    ViewBag.Title = "Index";
}
<br>
<h2>Popis stavki računa : </h2>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RedniBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ukupno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RedniBroj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            <span class="pull-right">
                @Html.DisplayFor(modelItem => item.Ukupno)
            </span>
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", "InvoiceLine", new { id=item.InvoiceLineID }, null) |
            @Html.ActionLink("Detalji", "Details", "InvoiceLine", new { id=item.InvoiceLineID }, null) |
            @Html.ActionLink("Obriši", "Delete", "InvoiceLine", new { id=item.InvoiceLineID }, null)
        </td>
    </tr>
}
</table>


