@model RetailApp.Models.InvoiceLine

@{
    ViewBag.Title = "Detalji";
}

<br>

<div>
    <dl class="dl-horizontal">
        <h4><dt>
            Redni broj stavke
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedniBroj)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Product.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ukupno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ukupno)
        </dd></h4>

    </dl>
</div>

<span class="btn btn-success">@Html.ActionLink("Uredi", "Edit", new { id = Model.InvoiceLineID }) </span> | 
<span class="btn btn-info">@Html.ActionLink("Povratak", "Index") </span> 
