@model IEnumerable<PrvaAplikacija.Models.Stavka>

@{
    ViewBag.Title = "Popis stavki";
}
<br>
<h2>Popis stavki za račun : </h2>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RedniBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Racun.Vrijeme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ukupno)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RedniBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Racun.Vrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td class="Desno">
                @Html.DisplayFor(modelItem => item.Ukupno)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.StavkaID }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.StavkaID }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.StavkaID })
            </td>
        </tr>
    }

</table>
<br>
<span class="button btn btn-info LinkoviBijeli"> @Html.ActionLink("Kreiraj novu stavku računa", "Create") </span>
<span class="button btn btn-danger Desno LinkoviBijeli"> @Html.ActionLink("Zaključi raačun", "Zakljuci", "Racun") </span>

