@model PrvaAplikacija.Models.Proizvod

@{
    ViewBag.Title = "Brisanje";
}

<br>
<h3><strong>Jeste li sigurni da želite izbrisati ovaj proizvod?</strong></h3>
<br>

<div>
    <dl class="dl-horizontal">
        <h4><dt>
            Šifra proizvoda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifra)
        </dd>

        <hr />
        
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd></h4>
</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> |
            <span class="btn btn-info">@Html.ActionLink("Povratak", "Index") </span> |
            <span class="btn btn-success">@Html.ActionLink("Uredi", "Edit", new { id = Model.ProizvodID }) </span>
        </div>
    }
</div>
