@model IEnumerable<PrvaAplikacija.Models.Proizvod>

@{
    ViewBag.Title = "Cijenik proizvoda";
}

<br>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.ProizvodID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ProizvodID }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.ProizvodID })
        </td>
    </tr>
}

</table>

<br>
<span class="button btn btn-info LinkoviBijeli">@Html.ActionLink("Stvori novi", "Create")</span>
