@model IEnumerable<RetailApp.Models.Measure>

@{
    ViewBag.Title = "Measures za artikle";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeasureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeasureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeasureID })
        </td>
    </tr>
}

</table>
